<Alloy>
 <View platform="ios" id="footer">
      <TabbedBar onClick="showWindows" id="tabbedbar">
        <Labels>
          <Label class="menuTitle" id="home">Home</Label>
          <Label class="menuTitle" id="trends">Trends</Label>
          <Label class="menuTitle" id="alarm">Alarm</Label>
          <Label class="menuTitle" id="settings">Settings</Label>
          <Label class="menuTitle" id="look">Looks</Label>
          <Label class="menuTitle" id="article">Article</Label>
        </Labels>
      </TabbedBar>
    </View>

    <!-- Android: menu -->
    <Menu platform="android" id="footer">
      <MenuItem title="Home" onClick="showWindows"/>
      <MenuItem title="Looks" onClick="showWindows"/>
      <MenuItem title="Trends" onClick="showWindows"/>
      <MenuItem title="Alarm" onClick="showWindows"/>
      <MenuItem title="Settings" onClick="showWindows"/>
    </Menu>
	
		<Require id="loading" type="widget" src="com.appcelerator.loading"/>
	
</Alloy>