<Alloy>
  <!-- Main Window -->
  <Window id="settings" title="settings" platform="android,ios">

    <!-- header -->
    <View id="header">
      <Label id="title">settings</Label>
      <View class="divider"/>
        </View>

    <!-- Main table for tasks
      Use model-view binding to render the rows fo this table
      based on the models in the given collection. "dataCollection"
      represents the collection used to populate this table.
      "dataWhere" is a function used to filter the list of
      models processed within the collection. "dataTransform"
      is a function that will be executed on each model as it
      is rendered as a row. It gives the opportunity to modify
      the model's values before they are applied to each row.
    -->
 
    <!-- iOS: footer with buttons -->
       <Require src="menu"/>
  </Window>

  <!-- Main Window for unsupported platforms -->
  <Window id="todoWin" platform="blackberry,mobileweb,tizen">
    <Label>todo app is only supported on Android and iOS</Label>
  </Window>
</Alloy>