<Alloy>
  <!-- Main Window -->
  	 <Window id="settingWindow" platform="android,ios">

    <!-- header -->
    <View id="settingView">
      <Label id="title">settings</Label>
    </View>

	<View id="menuHome">
			  <Button class="homeButtonMenuHome" onClick="showHome" ></Button>
		 	  <Button class="trendButtonMenuHome" onClick="showTrends"></Button>
		 	  <Button class="lookButtonMenuHome" onClick="showLooks"></Button>
		 	  <Button class="alarmButtonMenuHome" onClick="showAlarm"></Button>
		 	  <Button class="settingsButtonMenuHome" onClick="showSettings"></Button>
	   	</View>
 			

    <!-- Main table for tasks
      Use model-view binding to render the rows fo this table
      based on the models in the given collection. "dataCollection"
      represents the collection used to populate this table.
      "dataWhere" is a function used to filter the list of
      models processed within the collection. "dataTransform"
      is a function that will be executed on each model as it
      is rendered as a row. It gives the opportunity to modify
      the model's values before they are applied to each row.
    -->
 
    <!-- iOS: footer with buttons 
       <Require src="menu"/>-->
  </Window>
  <!-- Main Window for unsupported platforms -->

</Alloy>